/*Estilo para el perfil de usuario*/
*{
  margin: 0px;
  padding:0px;
}

body{
  background-color: #f0f0f0;
  color:#4c4c4c;
  font-family: Arial;
}

/*Contenedor principal*/
.ibody{
  background-color: #ecf0f3;
  border:1px solid #bfd8eb;
  border-radius: 8px;
  margin: 30px auto;
  padding: 26px;
  width: 500px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
}

/*Contenedor jumbotron**/
.jumbotron{

  border-radius:8px 8px 0px 0px;
  padding: 16px;
  -webkit-border-radius:8px 8px 0px 0px;
  -moz-border-radius:8px 8px 0px 0px;

}

.jumbotron h1
{
  font-size:38px;
  text-align: center;
  color:#FFFFF7;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.titulo
{
  font-size:38px;
  text-align: center;
  color:#FFFFF7;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
