<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Pone un icono en la pestaña -->
    <link rel="shortcut icon" href="../image/iconHotel.png">

    <!--hoja de estilos -->
    <link rel="stylesheet" type="text/css" href="../css/main.css" >
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" >

      <title>Cliente</title>

  </head>
<body >

    <div id="wrapper">
      {$header}

          <div class="contenedor">
            <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title">{$titulo}</h3>
                </div>
                <p><h1 class="titulo"></h1>Bienvenido {$email} </p>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">

                    {if isset($flag)}
                      {if $flag eq "true"}
                        <p> <img class="img-responsive img-thumbnail" src="mifoto.php" height="5" alt="5" > </p>
                        {else}
                        <p> <img class="img-responsive img-thumbnail" src="../image/avatar.png" height="5" alt="5" > </p>
                      {/if}
                      {else}
                        <p> <img class="img-responsive img-thumbnail" src="../image/avatar.png" height="5" alt="5" > </p>
                    {/if}

                  </div>
                </div>

            </div>


          </div>


      {include file='../componentes/footer.html'}
    </div> <!--fin del wrapper-->

    <!-- CODIGO JAVASCRIPT -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap/bootstrap.min.js"></script>
</body>
</html>
