<!-- Portafolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Detalles del proyecto -->
                        <h2>Alberca</h2>
                        <p class="item-intro text-muted">Un lugar para Relajarse.</p>
                        <img class="img-responsive img-centered" src="img/portafolio/alberca.jpg" alt="">
                        <p class="text-justify"> Disfrute con su familia o en pareja dos albercas que se encuentran al aire libre rodeadas
                          de palmeras y hermosos jardines, mención especial lleva la piscina cercana al Patio Mexicano,
                          la cual cuenta con un sistema ecológico computarizado de limpieza, a base de filtros de sal,
                          que sustituyen a los tradicionales químicos. Sin duda alguna nuestro asoleadero con vista a la bella
                          y famosa bahía de Acapulco es el lugar favorito de los amantes del bronceado que no pierden la
                          oportunidad de tomar un cálido baño de sol. En la terraza del Hotel encontrarás la piscina exterior,
                          de uso exclusivo y gratuito para nuestros huéspedes, con servicio de toallas incluido. En tus
                          momentos de relax, de mayo a octubre, no pierdas la oportunidad de descubrir Valencia desde
                          una perspectiva formidable mientras disfrutas de un refrescante baño con unas vistas privilegiadas
                          a toda la ciudad. Ven y comprueba porqué es un placer poder alojarte en un hotel con piscina durante
                          los calurosos meses de verano.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
