<!-- Portafolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Detalles del proyecto -->
                        <h2>Obtenga su descuento ahota</h2>
                        <p class="item-intro text-muted">Pidalo a la sucursal mas cercana.</p>
                        <img class="img-responsive img-centered" src="img/portafolio/ofertas.jpg" alt="">
                        <p class="text-justify">Aprovecha las promociones especiales en este mes Patrio
                          con descuentos hasta del 45% y ¡hasta 24 meses sin intereses!
                          Aplica en todos nuestros hoteles de playa y hoteles de ciudad.
                          Compra en línea antes del 19 de Septiembre y puedes viajar
                          hasta Noviembre de 2016 ¡Reserva Ahora! Selecciona el destino
                          el destino de tu preferencia para conocer más sobre estas ofertas
                          en Hoteles Emporio y Samba Vallarta </p>
                        <p>El mejor lugar para su descanso <a href="www.hotelDumort.com">hotelDumort.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
