<!-- Poratfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Productos para comodidad</h2>
                        <p class="item-intro text-muted">La mejor calidad de productos.</p>
                        <img class="img-responsive img-centered" src="img/portafolio/startup-framework-preview.png" alt="">
                        <p class="text-justify"><a href="#">Calidad</a>
                          Desde ProductosParahoteles.com, queremos que su hotel disponga de todas las prestaciones, sea cual sea su
                          tamaño y siempre al mejor precio. Por ello nos esforzamos por buscar los mejores productos para su hotel,
                          para ofrecerselos al mejor precio. Desde Minibares hasta Cajas fuertes, pasando por Televisores, accesorios
                          de baño, secadores de pelo, cerraduras o software de hotel. Todo lo necesario para equipar su establecimiento.
                          Si dentro de nuestra oferta de productos, no encuentra lo que busca, por favor, solicítenoslo e intentaremos
                          satisfacer sus necesidades.Si necesita la instalación de nuestros productos, consúltenos y le haremos un
                          presupuesto personalizado. Recuerde que tenemos disponibilidad de casi todos los productos de esta web para entrega inmediata.
                           <a href="#">here</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
