<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Reservaciones Hotel Dumort</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>

<body>

		<!--Barra de navagación  -->
		{include file='publico/navbar.html'}

		<!-- header de la pagina -->
		{include file='publico/header.html'}

    {include file='publico/servicios.html'}

    <!-- Sección portafolio-->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Infraestructura</h2>
                    <h3 class="section-subheading text-muted">El hotel cuenta con .</h3>
                </div>
            </div>

						<!-- SERVICIO A LA HABITACION -->
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portafolio/limpieza.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Servicio a la habitación </h4>
                        <p class="text-muted">Habitaciónes</p>
                    </div>
                </div>
								<!-- MERCADOTECNIA (PRODUCTOS)-->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portafolio/producto.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4> Productos Hotel</h4>
                        <p class="text-muted">Mercadotecnia</p>
                    </div>
                </div>

								<!-- OFERTAS -->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portafolio/ofertas.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Ofertas del mes</h4>
                        <p class="text-muted">Descuentos hasta el 20%</p>
                    </div>
                </div>

								<!-- Reservaciones -->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portafolio/reserva.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Reservaciones</h4>
                        <p class="text-muted">Realiza una reservación</p>
                    </div>
                </div>

								<!-- Desayuno -->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portafolio/desayuno.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Desayuno</h4>
                        <p class="text-muted">Disfrute de un desayuno</p>
                    </div>
                </div>

								<!--alberca  -->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portafolio/alberca_hotel.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Alberca</h4>
                        <p class="text-muted">Descanse comodamente</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

		<!-- seccion de sobre mi  -->
			{include file='publico/acerca.html'}

		<!-- seccion de los clientes  -->
		{include file='publico/clientes.html'}

    <!-- Contacto -->
		{include file='publico/contacto.html'}

		<!--  footer -->
		{include file='publico/footer.html'}

    <!-- Portafolio Modals -->
    {include file='publico/modal1.html'}

    {include file='publico/modal2.html'}

		{include file='publico/modal3.html'}

		{include file='publico/modal4.html'}

		{include file='publico/modal5.html'}

		{include file='publico/modal6.html'}


		<!-- Scripts js -->
		{include file='publico/js.html'}
</body>
</html>
