<!-- secion header hotel Dumort -->
<header>
      <!-- enlaces    -->
      <div id="enlaces" >
        <a href="en">  English version </a>
      </div>

      <!--logotipos -->
      <div id="logo">
        <!--Agrega una imagen -->
        <img src="img/portada.png" />
      </div>

    <!-- Barra de navegacion de bootstrap -->
    <nav class="navbar navbar-light bg-faded" style="background-color: #ECF0F1;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"  style="background-color: #ECF0F1;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">HOTEL DUMORT</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav"  style="background-color: #ECF0F1;">
            <li><a href="../index.php">Pagina Principal</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ayuda <span class="caret"></span></a>
              <ul class="dropdown-menu">

                <li><a href="admClientes.php">Ir a Clientes</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left">

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Buscar Tabla">
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>
          </form>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>
