<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Pone un icono en la pestaña -->
    <link rel="shortcut icon" href="../img/iconHotel.png">

    {include file='componentes/estilos.html'}

    <title>FORMULARIO PRIVILEGIO</title>
  </head>
  <body>

      <!-- contenedor principal -->
      <div id="wrapper">
         {$header}

          <div id="Encabezado">
             {*Se agrego un if para poner una etiqueta *}

                {if isset($id_privilegio)}
                  <h1>EDICION DE PRIVILEGIO</h1>
                  {else}
                  <h1>NUEVO PRIVILEGIO</h1>
                {/if}
                <br>
          </div>

          <div class="formulario" >
              <h1>Formulario privilegio </h1>

                <form class="form-horizontal" method="POST" data-toggle="validator" role="form" action="privilegio.php?accion={if isset($id_privilegio)}guardar{else}alta{/if}" id="form">

                    <div class="form-group">
                      <label for="inputName" class="col-sm-2 control-label">PRIVILEGIO</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName" placeholder="Escribe un privilegio" required name="privilegio" {if isset($id_privilegio)} value="{$privilegio.privilegio}"{/if}  required>
                      </div>
                    </div>


                    {if isset($id_privilegio)}
                        <input type="hidden" name="id_privilegio" value="{$id_privilegio}"> {/if}

                    <div class="form-group">
                      <div class="enviar">
                              <p> <input class=button type="submit" value="Añadir"></p>
                      </div>
                    </div>
                </form>
            </div>
              {include file='componentes/footer.html'}
        </div>
         {include file='componentes/js.html'}
        <script src="../../js/jquery.validate"></script>

          <script>
            $("#form").validate();
          </script>
</body>
</html>
