<!-- vista de los tipos de reservacion -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../img/iconHotel.png">  <!-- Pone un icono en la pestaña -->
    <title>{$titulo}</title>
    {include file='componentes/estilos.html'}
  </head>
    <body>
            <div id="wrapper">
                {$header}

                  <div id="contenedor">
                    <h1>{$titulo}</h1>

                        <!--MUESTRA LA TABLA  -->
                    <table class="table" CELLSPACING=1 >

                      <tr ALIGN=center>
                        <th>Tipo de Reserva</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                      </tr>

                      {foreach $tipoReservas as $elemento}
                      <tr ALIGN=center>
                        <td>{$elemento.descripcion}</td>
                        <td> <img src="../img/report.png" ></td>
                        <td>
                          <a href="admTipoReserva.php?accion=editar&id_tipoReserva={$elemento.id_tipoReserva}">
                            <img src="../img/lapiz.png" >
                        </td>
                          </a>
                        <td>
                          <a  href="admTipoReserva.php?accion=eliminar&id_tipoReserva={$elemento.id_tipoReserva}">
                            <img src="../img/cancel.png" >
                          </a>
                        </td>
                      </tr>
                      {/foreach}
                  </table>

                    <div class="alta">
                      <form  >
                          <a  class=button href="admTipoReserva.php?accion=nuevo">NUEVO TIPO DE RESERVA </a>
                      </form>
                    </div>
                  </div>
            {include file='componentes/footer.html'}
        </div>
        {include file='componentes/js.html'}
  </body>
</html>
