
  <style type="text/css">
    .table
    {
      border-collapse: collapse;
      width: 100%;
      font-size:12px;
      font-family: Helvetica, Geneva, Arial, sans-serif;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      margin: 0 auto;   /**Centra la tabla en el contenedor*/
      border: 1px;
    }

    th
    {  
      text-align: center;
      background-color: #4CAF50;
      color: white;
    }

    th, td
    {
      padding: 8px;
      font-size:14px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

  </style>

<page backtop="5%" backbottom="5%" backleft="5%" backright="5%">
      <h1>Factura Electrónica</h1>

                <!--MUESTRA LA TABLA DE CLIENTESS -->
              <table class="table"  CELLSPACING=1  >

                <tr ALIGN=center>
                  <th  >Nombre </th>
                  <th > Apellido</th>
                  <th > Nacimiento</th>
                  <th > Direccion</th>
                  <th > Costo Alojamiento</th>
                  <th > Fecha Emision</th>
                </tr>

                {foreach $detalle as $elemento}
                <tr ALIGN=center>
                  <td>{$elemento.nombres}</td>
                  <td> {$elemento.apellidos}</td>
                  <td> {$elemento.nacimiento}</td>
                  <td> {$elemento.direccion}</td>
                  <td> {$elemento.costoAlojamiento}</td>
                  <td> {$elemento.fechaEmision}</td>
                </tr>
                {/foreach}
            </table>
</page>