
  <style type="text/css">
    .titulo
    {
      text-align: center;
    }
    .table
    {
      border-collapse: collapse;
      width: 100%;
      font-size:12px;
      font-family: Helvetica, Geneva, Arial, sans-serif;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      margin: 0 auto;   /**Centra la tabla en el contenedor*/
      border: 1px;
    }

    th
    {
      text-align: center;
      background-color: #4CAF50;
      color: white;
    }

    th, td
    {
      padding: 8px;
      font-size:14px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

  </style>

<page backtop="5%" backbottom="5%" backleft="5%" backright="5%">
      <hr>
      <h1 class="encabezado">Factura Electrónica</h1>
      <hr>

      <br>
      <h1>Datos del Cliente</h1>
                <!--MUESTRA LA TABLA DE CLIENTESS -->
              <table class="table"  CELLSPACING=1  >

                <tr ALIGN=center>
                  <th  >Nombre cliente </th>
                  <th > Empleado</th>
                  <th > Tipo de Reservacion</th>
                </tr>
                {foreach $detalle as $elemento}
                <tr ALIGN=center>
                  <td>{$elemento.nombre}</td>
                  <td> {$elemento.empleado}</td>
                  <td> {$elemento.descripcion}</td>
                </tr>
                {/foreach}
            </table>
       <br>
       <br>
       <hr>
       <h2>Consumos Realizados por el cliente </h2>

         <!--MUESTRA LA TABLA DE CLIENTESS -->
       <table class="table"  CELLSPACING=1  >

         <tr ALIGN=center>
           <th  >No. Reserva </th>
           <th > Producto</th>
           <th > Cantidad</th>
           <th > Precio de venta</th>
           <th > Subtotal</th>

         </tr>
         {foreach $consumos as $elemento}
         <tr ALIGN=center>
           <td>{$elemento.id_reserva}</td>
           <td> {$elemento.producto}</td>
           <td> {$elemento.cantidad}</td>
           <td> {$elemento.precioVenta}</td>
           <td> {$elemento.subTotal}</td>
         </tr>
         {/foreach}
     </table>
     <br>
     <br>
     <label><span> Total de los cosumos:</span> {$total}</label>

</page>
